body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #11999E;
}

.top {
  background-color: #1A374D;
  padding-top: 100px;
  position: relative;
}

.middle-container {
  margin: 100px 0;

}

.bottom-container {
  background-color: #66BFBF;
  padding-top: 50px;
  padding-bottom: 60px;


}

h1 {
  font-size: 90px;
  margin: 100px auto 0 auto;
  font-family: 'Josefin Sans', sans-serif;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  color: #11999E;
}

a{
  margin: 20px 20px;
}

a:hover{
  color: white;
  font-family: 'Montserrat', sans-serif;

}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.pro {
  text-decoration: underline;
  font-size: 2.5rem;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.webdesign {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.contoller {
  width: 25%;
  float: right;
  margin-left: 30px;
}

hr{

  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;

}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  margin-bottom: 40px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.credit{
  color: white;
  margin-top: 20px;
}
